body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:5341px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5341px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5341px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2662px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:503px;
  top:420px;
  width:58px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:597px;
  top:420px;
  width:58px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:846px;
  top:962px;
  width:114px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1001px;
  top:962px;
  width:136px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:843px;
  top:1617px;
  width:233px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:846px;
  top:2259px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:846px;
  top:2788px;
  width:123px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
